@model TaskServer.Entities.User

<!DOCTYPE html>
<html>
<head>
    <title>My Application</title>
</head>
<body>
    <ul>
        <li>Id: @Model.Id</li>
        <li>Name: @Model.Name</li>
        <li>Email: @Model.Status</li>
    </ul>
</body>
</html>
